:root {
  --background-color: #f2efe3;
  --text-color: #181d27;
  --primary-color: #44af69;
  --secondary-color: #de9102;
}

body {
  background-color: var(--background-color);
}

.navbar-brand {
  font-size: 200%;
  color: var(--text-color);
  transition: 0.5s ease-in;
}

.navbar-brand i {
  font-size: 120%;
  transition: 0.3s ease;
}

.navbar-brand i:hover {
  color: var(--primary-color);
}

.nav-link {
  font-size: 110%;
  font-weight: 500;
  transition: 0.5s ease-in;
}

.nav-link:hover {
  color: var(--primary-color);
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: #181d27;
  position: relative;
}
.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  color: var(--background-color);
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
  color: var(--background-color);
}

.carousel-caption span {
  color: var(--primary-color);
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.btn-primary {
  background-size: 200%;
  color: var(--background-color);
  border: transparent;
  background-image: linear-gradient(to left, #44af69, #009432, #44af69);
  transition: 0.6s;
}

.btn-primary:hover {
  background-position: right;
}

#about {
  height: 100vh;
  min-height: 300px;
  padding: 80px;
}

.section-header {
  color: var(--text-color);
}
.section-header span {
  color: var(--primary-color);
}

.about .card i {
  font-size: 30px;
  color: var(--secondary-color);
}

#team {
  height: 100vh;
  min-height: 300px;
  padding: 80px;
}

.card {
  color: var(--text-color);
}

.team .card-link i {
  color: var(--text-color);
  font-size: 25px;
  transition: 0.5s ease;
}

.team .card-link i:hover {
  color: var(--secondary-color);
}

.team .card-title {
  color: var(--primary-color);
}
