:root {
  --background-color: #f2efe3;
  --text-color: #181d27;
  --primary-color: #44af69;
  --secondary-color: #fcab10;
}

body {
  background-color: var(--background-color);
}

.navbar-brand {
  font-size: 200%;
  color: var(--text-color);
  transition: 0.5s ease-in;
}

.navbar-brand i {
  font-size: 120%;
  transition: 0.3s ease;
}

.navbar-brand i:hover {
  color: var(--primary-color);
}

.nav-link {
  font-size: 110%;
  font-weight: 500;
  transition: 0.5s ease-in;
}

.nav-link:hover {
  color: var(--primary-color);
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: black;
  position: relative;
}
.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  color: var(--background-color);
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
  color: var(--background-color);
}

.carousel-caption span {
  color: var(--primary-color);
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
